h1 {
    text-align: center;
    text-decoration: double;
}

li {
    text-align: center;
    list-style-type: none;
}

button {
    align-items: center;
    text-align: center;
}

img {
    align-items: center;
    padding: 0 550px;
}


