                /* MENU RESPONSIVO*/
body {
    margin: 1;
    align-items: center;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    list-style-type: none;
  }

nav {
    font-size: 18px;
    background-color:rgb(205, 82, 16);
    padding: 15 900px;
    justify-content: space-between;
    align-items: center;
}

p {
    color:yellow;
}

h2, h3 {
    color:#000000;
    text-align: center;
}

h4 {
    color:white;
}

nav, ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 25px;
}
li:hover {
    cursor:grab;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    text-align:center;
    text-transform: uppercase;
}

img {
    align-items: center;
    padding: 0 230px;
}